@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }



body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
    background-image: url(./media/background1.jpg);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Tangerine', serif;
  }

.header {
    background-color: rgba(214, 153, 0, 0.75);
    text-align: center;

}

h1 {
    font-size: 50px;
    letter-spacing: .9rem;
}

.brush {
    font-size: 35px;
    letter-spacing: .4rem;
}

.footer {
    background-color: rgba(214, 153, 0, 0.75);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: .3rem;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 10px;
}

.criticSpace {
    display: flex;
    height: 400px;
    width: auto;
    justify-content: space-around;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.sceltaGrandezza {
    display: flex;
    align-items: center;
    gap: 8px;
}

#canvasDimension {
    border-radius: 25px;
    background: #3071A9;
    height: 6vh;
    width: 30vw;
}

button {
    font-family: 'Tangerine', serif;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    background-color: rgba(218, 165, 32, 0.925);
    color: black;
    font-size: 36px;
    font-weight: 500;
    border-radius: 20px;
    border: 2px solid black ;
    height: 6vh;
    min-width: 10vw;
}

button:hover {background-color: rgba(255, 220, 132, 0.925)}

button:active {
    box-shadow: 0 5px rgb(77, 63, 29);
    transform: translateY(4px);
}

#size-canvas {
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-size: 20px;
    font-weight: 500;
    color: black;
    letter-spacing: 2px;
}


.colori{
    display: flex;
    justify-content: space-around;
    gap: 8px;
    flex-wrap: wrap;
}

.canvas {
    display: flex;
    height: 600px;
    width: 480px;
    flex: 1;
}

input[type="color"] {

    background-color: rgba(255, 255, 255, 0.233);
    min-width: 5vw;
    height: 6vh;
    margin-right: 8px;

}


.canvas div{
    border: 1px solid rgba(0, 0, 0, 0.041);
    display: grid;
    flex: 1;
}


#face {
    height: 200px;
    border-radius: 25px;
    align-self: flex-end;
    opacity: 0.90;
}

#bubble {
    height: 258px;
    width: 295px;
    opacity: 0.80;
}

